#root {
  @apply mx-auto max-w-7xl;
}

html {
  scroll-behavior: smooth;
}
body {
  background-color: #0b1919;
  min-height: 100vh;
}
.overflow-y-hidden {
  overflow-y: hidden;
}

/* Mengatur container untuk melakukan scroll snapping */
.scroll-container {
  overflow-y: scroll; /* Membuat container dapat digulir */
  height: 100vh; /* Pastikan tinggi container sesuai dengan tinggi layar */
  scroll-snap-type: y mandatory; /* Menentukan jenis scroll snapping pada sumbu Y */
}

/* Menambahkan snapping ke setiap section */
.Sroll-section {
  min-height: 100vh;
  scroll-snap-align: center; /* Membuat setiap section menempel di bagian atas viewport */
  padding-bottom: 6rem;
  scroll-snap-stop: always;
}
